.slider{
    max-width: 100%;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
}

.inner .sliding{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}

.inner .active{
    opacity: 1;
}

.arrows{
    position: absolute;
    width: 115%; /* Делаем контейнер шире слайдера */
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: -7.5%; /* Подвинем контейнер немного влево, чтобы стрелки располагались снаружи слайдера */
    transform: translateY(-50%);
    z-index: 1; /* Увеличим z-index, чтобы стрелки были поверх */
}
.arrows img {
    width: 50px;
    height: 50px;

}
.arrows button{
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    opacity: 0.7;
    background: none;
}


.arrows button:hover{
    opacity: 1;
}

.indicators {
    width: 100%;
    list-style: none;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.active-li {
    background: #ffffff;
}

